/*------MODIFICO LOS MÃRGENES O PADDING-----*/
.menuNavegacion{
    margin: 0.5rem 3rem;
}
main {
    margin: 3rem;
}
.eliminarImg{
    width: 1.2rem;
    padding-top: 2rem;
}
.carrito {
    padding: 0.25rem;
}

/*------ESTILO DEL FOOTER------*/
footer{
    background-color: lightgrey;
}

/*------ELIMINO ESTILOD HEREDADOS DE BOOTSTRAP------*/
.list-group-item{
    border: none;
}
#imgCarrito {
    padding: 0;
}

/*------DISPLAY NONE PARA USAR ANIMACIONES DE JQUERY------*/
#grillaProductos>div, .mensaje, #formularioEnvio, #formularioCuotas{
    display: none;
}


